/* Importation de la police Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
    height: 100%;
    /* S'assure que html et body prennent 100% de la hauteur de la fenêtre */
    overflow-x: hidden;
    /* Empêche le défilement horizontal non désiré */
    overflow-y: auto;
    /* Permet le défilement vertical si le contenu déborde */
}

/* Assurez-vous que #content peut s'étirer ou est assez grand */
#content {
    min-height: 100vh;
    /* Permet à la section de prendre au moins toute la hauteur de la fenêtre */
    /* Gardez vos autres styles comme padding-top, margin-left, etc. */
}

body {
    font-family: 'Inter', sans-serif;
}

/* Styles de base pour la barre latérale */
.sidebar {
    width: 210px;
    height: 100vh;
    overflow-y: auto;
    transition: width 0.3s ease;
    /* Ajout d'une transition pour une animation douce */
}

/* Styles pour le contenu principal, s'adapte à la barre latérale */
.content {
    width: calc(100% - 210px);
    min-height: 100vh;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, margin-left 0.3s ease;
    /* Ajout d'une transition pour la marge gauche */
}


/* Styles pour la barre de défilement personnalisée */
.sidebar-nav::-webkit-scrollbar {
    width: 8px;
}

.sidebar-nav::-webkit-scrollbar-track {
    background-color: #2A2D33;
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background-color: #60636B;
    border-radius: 4px;
}

/* Style pour l'élément de navigation actif */
.nav-item.active a {
    background-color: white;
    color: #333;
}

.nav-item.active a i {
    color: #333;
}

/* Styles pour les boîtes de widgets */
.widget-box {
    max-width: 47%;
    /* Limite la largeur pour un affichage côte à côte */
    border-radius: 0.75rem;
    /* Coins arrondis */
}

/* Styles pour les icônes avec des compteurs */
.font-icon {
    position: relative;
}

.font-icon::after {
    content: attr(data-count);
    position: absolute;
    top: 0px;
    right: -5px;
    background-color: #E74C3C;
    color: white;
    font-size: 0.75rem;
    border-radius: 50%;
    padding: 0.2em 0.4em;
}

.nav-mail .font-icon::after {
    background-color: #2ECC71;
}

/* Styles pour l'écran de transition de page */
.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ADD8E6;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    flex-direction: column;
}

.transition-content {
    color: white;
    margin-bottom: 20px;
}

/* Styles pour l'icône de chargement (loader) */
.loader {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles pour l'effet de texte tapé */
.typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid gray;
    width: 18.7ch;
    animation: typing 4s steps(25, end), blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 18.7ch
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Conteneur pour le canvas afin de gérer sa taille et son apparence */
.chart-container {
    position: relative;
    /* width: 100%; */
    /* Utilise toute la largeur disponible dans son parent */
    /* Largeur maximale pour les grands écrans */
    height: 400px;
    /* Hauteur fixe pour le conteneur */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    /* Ajout d'une marge pour l'espacement */
    padding-top: 60px;
    padding-bottom: 60px;
}

.chart-container h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

/* Style spécifique pour le canvas */
#barCanvas {
    width: 100% !important;
    height: 100% !important;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

/* From Uiverse.io by JustCode14 */
/* Theme Switch */
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2.2em;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* mettre le switch en haut a droite de la page */
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2a2a;
    transition: 0.4s;
    border-radius: 30px;
    overflow: hidden;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 20px;
    left: 0.5em;
    bottom: 0.5em;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
    box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked+.slider {
    background-color: #00a6ff;
}

.switch input:checked+.slider:before {
    transform: translateX(1.8em);
    box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 5px;
    transition: all 0.4s;
    height: 5px;
}

.star_1 {
    left: 2.5em;
    top: 0.5em;
}

.star_2 {
    left: 2.2em;
    top: 1.2em;
}

.star_3 {
    left: 3em;
    top: 0.9em;
}

.switch input:checked~.slider .star {
    opacity: 0;
}

.cloud {
    width: 3.5em;
    position: absolute;
    bottom: -1.4em;
    left: -1.1em;
    opacity: 0;
    transition: all 0.4s;
}

.switch input:checked~.slider .cloud {
    opacity: 1;
}

/* animation de l'élément label .switch qui monte puis déscent légèrement sans arrêt */
.switch {
    animation: toggle__animation 4s ease-in-out infinite;
}

@keyframes toggle__animation {
    0%,
        100% {
            transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
        }
    
        50% {
            transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
    }
}
